<%= form_for(@inventory) do |f| %>
  <% if @inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
      <% @inventory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :Name %><br>
    <%= f.text_field :Name %>
  </div>
  <div class="form-group">
    <%= f.label :Description %><br>
    <%= f.text_field :Description %>
  </div>
  <div class="form-group">
    <%= f.label :Price %><br>
    <%= f.text_field :Price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
